<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">
            <b>Detail</b>
            <legend>FAQ</legend>
          </h1>
        </div>
        <!-- /.card-header -->
        <table style="width:100%" class="table table-bordered table-striped">
          <tr>
            <th>Title:</th>
            <td>{{results.title}}</td>
          </tr>
          <tr>
            <th>Banner:</th>
            <td>
              <p>
                  <img src="{{results.path}}" style="max-height:200px;">
              </p>
            </td>
        </table>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->