<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">
            <b>Detail</b>
            <legend>Category</legend>
          </h1>
        </div>
        <!-- /.card-header -->
        <table style="width:100%" class="table table-bordered table-striped">
          <tr>
            <th>Name:</th>
            <td>{{results.name}}</td>
          </tr>
          <tr>
            <th>Permalink:</th>
            <td>{{results.permalink}}</td>
        </table>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->