<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">
            <b>Detail</b>
            <legend>Category</legend>
          </h1>
        </div>
        <!-- /.card-header -->
        <table style="width:100%" class="table table-bordered table-striped">
          <tr>
            <th>Name:</th>
            <td>{{results.name}}</td>
          </tr>
          <tr>
            <th>Permalink:</th>
            <td>{{results.permalink}}</td>
          </tr>
          <tr>
            <th>Image:</th>
            <td>
              <img src="{{results.image}}" style="max-width:200px; max-height:200px;">
            </td>
          </tr>
        </table>
        <div class="card-footer">
            {{!-- <input type="hidden" name="_method" value="POST" />
            <button type="submit" class="btn btn-primary">Save</button> --}}
            <a class="btn btn-secondary" href="/category">
              Back
            </a>
          </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->